/* CSS Document */

/* Cat picture */
img {
	max-width: 100%;
}

/* Game container */
#gameContainer {
	display: flex;
	align-content: center;
}

/* Navigation menu */
#navMenu {
	width: 200px;
	left: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 10px;
}

/* Menu item */
.menuItem {
	width: 200px;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 7px;
	margin: 5px;
}

/* Cat container */
.kitten {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	margin: 2%;
	padding: 0 1%;
	width: 85%;
}

/* Cat photo */
.catPhoto {
	width: 90%;
	margin: 5% 5%;
}

/* Cat click counter */
.clickCounter {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
	padding-top: 2em;
}

/* Cat click counter - number */
.counterNumber {
	color: darkblue;
	font-weight: bolder;
}

/* Cat name */
.kittenName {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
	padding-top: 1em;
}

/* Admin form */
#adminForm {
	visibility: hidden;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	padding-top: 1em;
}

/* Admin form input field */
.formField {
	line-height: 2em;
}

/* Admin form button */
#adminForm button {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding: 7px;
	margin: 5px;
}