/* CSS Document */

img {
	max-width: 100%;
}

#gameContainer {
	display: flex;
}

.kitten {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	margin: 1%;
	padding: 0 1%;
	width: 45%;
}

.catPhoto {
	width: 90%;
	margin: 5% 5%;
}

.clickCounter {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
	padding-top: 2em;
}

.counterNumber {
	color: darkblue;
	font-weight: bolder;
}

.kittenName {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
	padding-top: 1em;
}